Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/
.vs/
.vscode/
.utmp/
.gradle/

Build/
Builds/
*.csproj
*.sln
*.slnx
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.stackdump
*.apk
*.aab
*.unitypackage
*.log
Assets/google-services.json
Assets/google-services.json.meta
Assets/StreamingAssets/google-services-desktop.json
Assets/StreamingAssets/google-services-desktop.json.meta
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_15_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_15_0.bundle.meta
